
$font-header: 'Pattaya', sans-serif;
$gold: #e3bc72;
*, ::after, ::before {
 box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

.container {
  width: 80%;
  margin: 10px auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
h3 {
  font-style: italic;
}
/*header & nabigation*/
header {
  background-color: #5d523d;
  margin-bottom: 15px;
  color: white;
}


.nav-brand {
  font-family: $font-header;
}

h1.logo {
  color: $gold;
  font-family: $font-header;
  text-transform: none;
}

a.nav-link {
  color: white;
  text-transform: uppercase;
}

div.hero {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  background-color: $gold;
}
a.btn {
  color: white;
  margin-bottom: 20px;
}


/*Service*/
.page-title {
  text-align: center;
  margin: 20px;
}

.service-box {
  text-align: center;
  margin: 10px;
}
i, h3.service, p.service {
  margin: 10px;
}
p.service {
  text-align: justify;
}
.service-box i.fas{
  color: $gold;
  border: 4px solid $gold;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

/*Portfolio*/
section.portfolio {
  background-color: lightgrey;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

img.card-img-top {
  margin-top: 10px;
}
div.card-body {
  text-align: center;
}
h5.card-title {
  font-weight: bold;
}
p.card-page {
  font-style: italic;
}


/*Footer*/
i.fab {
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  margin: 0 2px;
}
