
$font-header: 'Pattaya', sans-serif;
$gold: #e3bc72;
*, ::after, ::before {
 box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

.container {
  width: 80%;
  min-height: 250px;
  margin: 40px auto;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
h3 {
  font-style: italic;
}
/*header & nabigation*/
header {
  background-color: #5d523d;
  margin-bottom: 15px;
  color: white;
}

h1.logo {
  text-transform: none;
}
.nav-brand {
  font-family: $font-header;
}

h1.logo {
  color: $gold;
  font-family: $font-header;
}

a.nav-link {
  color: white;
  text-transform: uppercase;
}

div.hero {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  background-color: $gold;
}
a.btn {
  color: white;
  margin-bottom: 20px;
}


/*Service*/
.page-title {
  text-align: center;
  margin: 20px;
}

.service-box {
  text-align: center;
  margin: 10px;
}
i, h3.service, p.service {
  margin: 10px;
}
p.service {
  text-align: justify;
}
